/* Thanh Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between; /*Cái này làm cho 2 đoạn div tách ra*/
    margin-top: 3px;
}

/* Danh sách sản phẩm ở thông báo */
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

/* Chỉnh sửa các mục: Vào cửa hàng,..,kết nối, bla bla */
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
/* Ảnh đăng nhập thành công */
.header__navbar-user-img {
    width: 22px;
    border-radius: 50%;
}
/* Tên khi đăng nhập thành công */
.header__navbar-item-name {
    margin-left: 8px;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-block;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    z-index: 1;
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #666;
    display: none;
    animation: fadeIn ease-in .2s;
}

.header__navbar-user-menu::before {
    z-index: -1;
    content: "";
    border-width: 20px 29px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -30px;
}
.header__navbar-user-item-logout {
    border-top: 0.9px solid #cccc;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 5px 16px;
    display: block;
    
}

.header__navbar-user-item a:hover {
    background-color: #cccccc;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:first-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header__navbar-item-user {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.header__navbar-item--strongs {
    font-weight: 400; 
}


/* cái này là thanh nhỏ ngăn cách giữa vào cửa hàng,.. và kết nối */
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 30%;
    transform: translateY(-50%);
}

/* Chỉnh sửa cho Icon */
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */
.header__qr {
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in .3s; /*Làm cái chuyển động hiệu ứng cho QR*/
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* Làm cầu nối để kích vào mã QR code */
.header__qr::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: -8px;
}

.header__qr-img {
    width: 100%;
}
/* Chỉnh ảnh ch play và app store */
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
/* Cái nth-child() là chỉnh độ dày hay chi đó khi nó cùng chung class */
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 12px;
}

.header__qr-dowload-img {
    height: 16px;
}
/* Di chuột vào hiện QR CODE */
.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}

/* Notification (thông báo) */
/* Header notify */
.header__notify {
    z-index: 1;
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3 ;
    cursor: default;
    user-select: none; /*Cái này không cho coppy đoạn text*/
    display: none;
    transform-origin: 90% top; /*Cái này jup ô thông báo xuất hiện trên xuống or qua trái, qua phải tùy ý chỉnh*/
    animation: headerNotifyGrowth ease-in 0.2s; /*Cái ni animation cho thông báo phóng to */
}
 
/* Cái này là làm mũi tên chỉa lên cho bảng thông báo */
.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -30px;
}
/* Làm cầu nối cho thông báo  */
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    height: 20px;
    width: 90px;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block; 
}
/* Làm danh sách sản phẩm ở thông báo */
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238,75,43,0.07);
    width: 100%;
}
/* Phần ảnh */
.header__notify-img {
    width: 48px;
    object-fit: contain; 
}
/* Phần thông tin */
.header__notify-info {
    margin-left: 12px;
}
/* Phần tên */
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}
/* Phần mô tả */
.header__notify-des {
    display: block;  
    font-size: 1.2rem;
    line-height: 2.4rem;  
    color: #756f6b;
}

.header__notify-item--viewed:hover {
    background-color: #d3d3d3;
}
/* Phần footer "xem tất cả" */
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 48px;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;  /*------ẨN LỚP CON ĐI------*/
}
.auth-form__container {
    padding: 0 32px; /*Tạo viền cho khung*/
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Tạo khoảng cách cho đăng nhập và đăng kí*/
    padding: 0 12px;
    margin-top: 8px;
}

/* CSS của Register */
.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    cursor: default;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-color);
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control-back {
    margin-right: 8px;
}
 
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}
/* Nút bấm vào link FACEBOOK */
.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook 
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 32px;
}
/* Nút bấm vào link google */
.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

/* CSS của Login */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -3px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* -------Phần SEARCH---------- */
.header-with-search {
    height: 86px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    margin-left: 8px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
/* Cái giỏ hàng đây */
.header__cart {
    width: 150px;
    position: relative;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 9px);
    width: 410px;
    right: 1px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgb(158, 146, 146);
    background-color: var(--white-color);
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    z-index: 1;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto; /*Sản phẩm dài quá sẽ có thanh cuộn*/
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 2px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multipfy {
    font-size: 0.9rem;
    margin:  0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.header__cart-item-des {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
} 

.header__cart-viewcart {
    float: right;
    margin: 0 12px 12px 0;
}

.btn.header__cart-viewcart:hover {
    background-color: #f05d41;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 6px;
    top: -25px;
    border-style: solid;
    border-width: 15px 16px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    top: -4px;
    right:-4px;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__search-input-wrap {
    flex: 1; 
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
/* marign: top right bottom left */
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin:0 16px 0 8px;
    font-weight: 300;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius:3px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}
.header__search-btn-icon{
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    width: 130px;  /*Cho chiều ngang là 168px*/
    box-shadow: 0 1px 1px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    margin-top: 13px;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    top: -14px;
    position: absolute;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}
/* Search history */
.header__search-history {
    top: 42px;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #666;
    position: absolute;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    z-index: 1;
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin: 8px 0 0;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a{
    height: 38px;
    line-height: 38px;
    padding: 0 12px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

/* Cái này khi click vào search thì nó sẽ hiện lịch sử tìm kiếm */
.header__search-input:focus ~ .header__search-history {
    display: block;
    /* Focus là khi click vào là nó hiện list sản phẩm history */
    /* Dấu ~ lên tìm kiếm: "CSS selects w3school" nhá */
}

.app__container {
    margin-top: 120px;
    background-color: #f5f5f5;
    min-height: 100px;
    margin-left: -9px;
    margin-right: -9px;
    padding-bottom: 10px;
}

.app_content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    height: 150px;
    width: 193px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid #cccccc;
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -0.9px;
}

.category-list {
    list-style: none;
    padding-left: 0;
    margin-left: 9px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%; /*Nó sẽ căn giữa 1 tí*/
    left: 8px;
    content: "";
    border: 5px solid;
    transform: translateY(calc(-50% - 1px)); /*Thêm cái ni nữa là giữa hết luôn nha !*/
    border-color: transparent transparent transparent var(--primary-color);
    
}

.category-item__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 16px;
    display: block;
    /* ----Khi di chuột vào nó sẽ có hiệu ứng tự chuyển động---- */
    position: relative;
    right: 0;
    /* linear là di chuyển từ đầu tới cuối */
    transition: right linear 0.1s;
}

.category-item__link:hover {
    /* là khi di chuột vô là nó sẽ thụt vô 4px */
    right: -4px;
    color: var(--primary-color);
}

/* ----- Home sắp xếp và lọc đề tìm sản phẩm á nghe ----- */
.home-filter {
    position: relative;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn.btn {
    min-width: 90px;
    margin-right: 12px;
} 
.home-filter__page {
    display: flex;
    align-items: center;
}

.btn--primary {
    background-color: var(--primary-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left:auto ;
}

.home-filter__page-number {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden; 
    /* Thay vì width và height thì ta dùng display: flex, width và height và flex:1 cho nhanh dễ quản lí hơn */
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
    color: #555;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #e2e2e2;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
}
/* Product item */
.home-product-item{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    position: relative;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain; /*Chỉnh hình ảnh co lại đủ nội dung*/
    background-position: center; /*Trọng tâm ảnh luôn luôn nằm giữa*/
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    /* Khi nội dung quá dài thì nó sẽ giới hạn và có dấu 3 Chấm */
    height: 3.6rem;
    margin: 10px 10px 10px 6px;
    overflow: hidden; /*Ẩn đoạn con bị thừa đi*/
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical; /*hướng dòng chữ theo chiều dọc*/
    -webkit-line-clamp: 2; /*Cái này xuất hiện xuất 3 chấm, số 2 đó là số dòng cần có dấu 3 chấm*/
}

.home-product-item__price{
    display: flex;
    align-items: baseline; /*Cái này sẽ căn theo chân dòng thẳng ngang hàng*/
    flex-wrap: wrap; /*Khi giá quá dài nó sẽ tự xuống dòng*/
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through; /*gạch chữ*/
    margin-left: 10px;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0px;
}

.home-product-item__like{
    font-size: 1.3rem;
}

.home-product-item__like-icon-empty{

}

i.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}
/* -- Cái này là thả tym cho sản phẩm */
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 5px;
}

.home-product-item__origin{
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand{

}

.home-product-item__origin-name{
    margin-left: auto;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor; /*Nó sẽ ăn theo màu của color*/
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}   
/* Cái này là làm tam giác nhỏ nhỏ để tạo hiệu ứng ribăng */
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%); /*Cái này jup làm giảm độ sáng/tối của màu*/
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.94);
    text-align: center;
}
/* ---CÁI NÀY LÀ LÁ CỜ VÀNG VÀNG TRÊN SẢN PHẨM ĐÓ NHÁ--- */
/* LƯU Ý */
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}

.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2rem;
    position: relative;
    top: 1px;
}

.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    top: 1px;
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 32px;
}

.footer {
    padding-top: 15px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: block;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 30%;
    object-fit: contain; /*Dùng cho ảnh để căn chỉnh ảnh lại cho đẹp*/
    border: 1px solid var(--border-color);
    height: 30%;
}

.footer__download-apps {
    margin-left: 16px;
    /* Căn chỉnh giữa */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img {
    height: 17px;
    line-height: 17px;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
}

